cd ..
body
{
    color: blue;
    text-align: center;
    font-family: "Arial";
    font-size: 15px;
}
# cabecera
{
    background: rgba(231, 170, 255, 0.226);
<<<<<<< HEAD
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
    color: wheat;
    font-weight:bold;
    margin: auto;
    padding: 0.5em;
}
# cabecera #tagline
{
    color: wheat;
    font-size: 0.8em;
=======
    color: wheat;
>>>>>>> a063613 (Finalizada la cabecera con diseño distinto)
    font-weight:bold ;
    margin: auto;
    padding: 0.5em;
}

<<<<<<< HEAD
=======

>>>>>>> a063613 (Finalizada la cabecera con diseño distinto)
# container
{
    color: dimgray;
    width: 70%;
    padding: lem;
    text-align: left;
    border: 2px solid #ddd;
    margin: 0 auto;
}

# container h1
{
    color: crimson;
    font-size: 15px;

}
#post
{
    padding: 1em;
}